name: Fix Helm Conflict

on:
  push:
    paths:
      - '.github/workflows/fix-helm.yml'

jobs:
  nuke-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update Kubeconfig
        run: aws eks update-kubeconfig --name project-bedrock-cluster --region us-east-1

      - name: Uninstall Conflicting Helm Chart
        run: |
          helm uninstall aws-load-balancer-controller -n kube-system || true
          echo "Helm chart uninstalled (or didn't exist)"
